<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataDemo2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC873C661C7D8DCC004C7D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC873C821C7D8DCD004C7D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC873C8D1C7D8DCD004C7D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
